image/
__pycache__
**/build/
**/*.egg-info/
**/dist/
*.so
exp
exp_runs
weights
data
log
logs/
*.log
outputs/
.vscode
.github
.ruff_cache
.idea
*/.DS_Store
**/*.out
Dockerfile
.pre-commit-config.yaml

gaussian_results/
gaussian_train/
grid_sim/
grid_svd_output/
langfeat_visualizations
layer_visualizations
datasets/
checkpoints/
output_features/
svd_analysis/
svd_comparison/
OccamLGS/
LitePT/ckpts
.claude/
# CLAUDE.md
*.pt
*.whl
*.ply
*.pth